body {
  background: rgb(28,116,22);
  background: linear-gradient(0deg, rgba(28,116,22,1) 0%, rgba(17,18,92,1) 100%);
  padding: 75px;
  font-family: Arial, Helvetica, sans-serif;
}
pre {
  font-family: monospace;
}
